.lista-suspensa label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;

}

.lista-suspensa select {
    background-color: aliceblue;
    box-shadow: 10px 10px 30px rgba(red, green, blue, alpha);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;


}